
/* Style for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

/* Initial Screen and Questionnaire styling */
#initial-screen {
    background-color: #000;
    color: rgb(228, 238, 228);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#initial-screen h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#initial-screen button {
    background-color: rgb(228, 238, 228);
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
}

#questionnaire {
    background-color: #000;
    color: rgb(228, 238, 228);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#questionnaire #question-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionnaire input, #questionnaire select, #questionnaire textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 200px;
}

#questionnaire button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(228, 238, 228);
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

#questionnaire button:hover, #add-marker-form button:hover, #marker-details button:hover, #initial-screen button:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

#back-button, #next-button, #submit-button {
    display: none; /* Initially hide all buttons */
}

/* Main content styling */
#main-content {
    background-color: #f4f4f4;
    z-index: 2;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

/* Section styling */
section {
    margin-bottom: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0a9396;
}

/* Video and Map styling */
#map {
    width: 100%;
    border-radius: 8px;
    margin-top: 15px;
}

/* Add Marker Form */
#add-marker-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#add-marker-form label {
    margin-top: 10px;
}

/*
.marker-label div {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 2px;
    white-space: nowrap;
    
}
*/

.marker-label {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.marker-label div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #666;
    border-radius: 3px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;
    white-space: nowrap;
    display: flex;
    transform: translate(-50%, 5%);
    max-width: 120px; /* Adjust this value to change the maximum width of the label */
    text-align: center;
}

#add-marker-form input {
    padding: 8px;
    font-size: 1em;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-marker-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#add-marker-form button:hover {
    background-color: #0056b3;
}

#marker-details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#marker-details button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#marker-details button:hover {
    background-color: #c82333;
}

/* Plankton Image Gallery */
#plankton-gallery img {
    max-width: 100%;
    border-radius: 8px;
}

/* Style for the header */
header {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Footer */
footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Hide initial screen and questionnaire initially */
#main-content, #questionnaire {
    display: none;
}